.ordersItem{
    width: 100%;
    background-color: #1C1C21;
    border-radius: 40px;
}
.ordersItem__top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ordersItem__number{
    color: #ffffff;
}
.ordersItem__date{
    color: #8585AD;
}
.ordersItem__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ordersItem__ingredients{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;
}
.ordersItem__ingredient{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    list-style-type: none;
    border-radius: 100px;
    padding: 2px;
    background: linear-gradient(90deg, rgba(128,26,178,1) 35%, rgba(76,76,255,1) 100%);
    overflow: hidden;
    margin-right: -20px;
}
.ordersItem__image{
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.ordersItem__text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 28, 33, 0.6);
}
.ordersItem__price{
    display: flex;
    align-items: center;
}