.order{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.order__item{
    composes: order;
    width: 100%;
}
.order__bottom{
    composes: order__item;
    color: #8585AD;
}
.order__loader{
    display: flex;
    height: 478px;
}
.order__error{
    composes: order__loader;
}