.login{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.login__form{
    composes: login;
}
.login__title{
    width: 100%;
    text-align: center;
}
.login__bottom{
    composes: login;
}
.login__link{
    color: #4C4CFF;
    text-decoration: none;
}