.modal{
    width: 720px;
    background-color: #1C1C21;
}
.modal__overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
}
.modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.modal__close{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}
.modal__content{
    display: flex;
    justify-content: center;
}