.headerItem{
    display: flex;
    align-items: center;
    color: #8585AD;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}
.headerItem:hover{
    color:#fff;
}
.headerItemActive{
    composes: headerItem;
    color:#fff;
}
.headerItemActive svg, .headerItem:hover svg{
    fill: #fff;
}