.details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.details__title{
    width: 100%;
}
.details__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    width: 520px;
    padding-left: 0;
    margin: 0;
}
.details__item{
    justify-self: center;
    list-style-type: none;
    color: #8585AD;
}
.details__item *{
    display: flex;
    justify-content: center;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 366px;
}