.ingredients{
    width: 600px;
}
.ingredients__tabs{
    display: flex;
}
.ingredients__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 24px;
    padding-left: 0;
    margin: 0;
}
.ingredients__item{
    list-style-type: none;
}
.ingredients__cont{
    max-height: calc(100vh - 284px);
    overflow-y: scroll;
}
.ingredients__loader{
    height: calc(100% - 90px)
}
.ingredients__error{
    composes: ingredients__loader;
}





